<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Agency - Start Bootstrap Theme</title>

<!-- Bootstrap Core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/webjars/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css'>

<!-- Theme CSS -->
<link href="/css/agency.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" >
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a class="page-scroll" href="#calss">Class</a></li>
					<li><a class="page-scroll" href="#info">Info</a></li>

					<li><a class="page-scroll" href="#contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container">
			<div class="intro-text">
				<div class="intro-heading">Vocal</div>
				<div class="intro-heading">Strength</div>

			</div>
		</div>
	</header>

	<!-- Class Section -->
	<section id="class">
		<div class="class1" align="center">
			<p class="text1">
				Stimmtraining <br> Sänger, Schauspieler,<br> Dozenten,
				Lehrer, …<br>

			</p>
			<p>
				Hast du Schwierigkeiten mit hohen Tönen ?<br> Langes Sprechen
				fällt dir schwer? Du hast<br> starkes Lampenfieber vor
				Auftritten oder<br> Vorträgen? Als Experte für die Heraus - <br>

				bildung und Entfaltung der individiuellen<br> Stimme kann ich
				dir helfen eine starke<br> Stimmbasis aufzubauen, denn: eine
				starke<br> Stimme führt zu einem selbstbewussteren<br> und
				selbstsicheren Auftreten.<br> Mein Unterricht ist wie ein
				Fitnesstudio für<br> die Stimme . Dir werden wissenschaftliche<br>
				und praxisgerechte Coachings zur<br> Ausbildung deiner gesunden
				und optimal<br> klingenden professionellen Sprechstimme<br>
				geboten.
			</p>
		</div>

		<div class="bild " align="center"></div>

		<div class="slideshow-container">

			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<img src="img/Frontbild.jpeg" style="width: 100%">
				<div class="text">
					<p>
						Analyse des <br> Ist-Zustandes der<br> Stimme<br>
				</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<img src="img/Frontbild.jpeg" style="width: 100%">
				<div class="text">
					<h5>
						Analyse des <br> Ist-Zustandes der<br> Stimme<br>
					</h5>
				</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<img src="img/Frontbild.jpeg" style="width: 100%">
				<div class="text">
					<p>
						Analyse des <br> Ist-Zustandes der<br> Stimme<br>
				</div>
			</div>

		</div>
		<br>

		<div style="text-align: center">
			<span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
		</div>
	</section>


	<section id="info">

		<div class="info" align="center">
			<p>
				Ich arbeite seit über 15 Jahren als profes- <br> sioneller
				Sänger und habe u.a. im König<br> der Löwen (2010),.…
				gearbeitet.<br> Mit meiner A-Cappella Band Delta Q habe<br>
				ich langjährige Erfolge zu verzeichnen.<br>
			</p>



		</div>
		<div align="center">
			<iframe width="800" height="500"
				src="https://www.youtube.com/embed/g0h-neyl7vA" frameborder="0"
				allow="autoplay; encrypted-media" allowfullscreen></iframe>


		</div>

		<div class="info" align="center">
			<p>
				Die erste Stunde ist gratis, damit wir uns<br> kennenlernen und
				sehen ob wir miteinan- <br> der arbeiten wollen.<br> Ich
				unterrichte in Berlin, Rudow.<br> Anfahrt mit der U7.<br>
			</p>
		</div>


		<div align="center">
			<img src=" img/Goomap.png" width="50%" height="50%">
		</div>

	</section>



	<!-- Contact Section -->
	<section id="contact">


		<div class="info" align="center">
			<p>
				Die erste Stunde ist gratis, damit wir uns<br> kennenlernen und
				sehen ob wir miteinan- <br> der arbeiten wollen.<br> Ich
				unterrichte in Berlin, Rudow.<br> Anfahrt mit der U7.<br>
			</p>
		</div>
		<div >
			<div  class="oqp" align="center" style="position: center">
				<div role="alert" data-th-if="${message}" data-th-text="${message}"
					data-th-class="${classCss}"></div>
				<form   class="oqp" align="center"  style="position: center" name="sentMessage" id="contact_form" novalidate
					     data-th-object="${contact}" method="post" data-th-action="@{/}">
					<div class="oqp" align="center">
						<div class="col-lg-6 ">
							<div class="form-group" align="center">
								<input type="text" class="form-control"
									placeholder="Your Name *" data-th-field="*{name}">
								<p class="help-block text-danger"
									data-th-if="${#fields.hasErrors('name')}"
									data-th-errors="*{name}"></p>
							</div>
							<div class="form-group">
								<input type="email" class="form-control"
									placeholder="Your Email *" data-th-field="*{email}">
								<p class="help-block text-danger"
									data-th-if="${#fields.hasErrors('email')}"
									data-th-errors="*{email}"></p>
							</div>
							<div class="form-group"   >
								<input type="tel" class="form-control"
									placeholder="Your Phone *" data-th-field="*{phone}">
								<p class="help-block text-danger"
									data-th-if="${#fields.hasErrors('phone')}"
									data-th-errors="*{phone}"></p>
							</div>

							<div class="form-group">
								<input type="tel" class="form-control"
									placeholder="Your Subject *" data-th-field="*{subject}">
								<p class="help-block text-danger"
									data-th-if="${#fields.hasErrors('subject')}"
									data-th-errors="*{subject}"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" placeholder="Your Message *"
									data-th-field="*{message}"></textarea>
								<p class="help-block text-danger"
									data-th-if="${#fields.hasErrors('message')}"
									data-th-errors="*{message}"></p>
							</div>
						</div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button type="submit" class="btn btn-xl" width="48" height="48"
								style="position: absolute; right: 600px;">Send Message</button>
						</div>
					</div>
				</form>
				
				
				 
		</div>
		</div>

	</section>



	<!-- jQuery -->
	<script src="/webjars/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<!--<script src="/js/jqBootstrapValidation.js"></script>-->
	<!--<script src="/js/contact_me.js"></script>-->

	<!-- Theme JavaScript -->
	<script src="/js/agency.min.js"></script>


	<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 10000); // Change image every 2 seconds
}



function showIt2() {
  document.getElementById("div2").style.visibility = "visibility";
}
setTimeout("showIt2()", 3000); // after 3 secs

function myFunction() {
    document.getElementById("myDIV").style.overflow = "scroll";
}



function myMap() {
  var myCenter = new google.maps.LatLng(52.416596, 13.499631);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}

window.onscroll = function(ev)
{
	var B= document.body; //IE 'quirks'
        var D= document.documentElement; //IE with doctype
        D= (D.clientHeight)? D: B;
	
	if (D.scrollTop == 0)
		{
		
			document.getElementById("div3").style.visibility = "visible";
			document.getElementById("div1").style.visibility = "hidden";
		} 

	if (D.scrollTop != 0)
		{
			document.getElementById("div3").style.visibility = "hidden";
						document.getElementById("div1").style.visibility = "hidden";


			
		}  


}





var footerEl = document.getElementById('footer');
var CheckIfScrollBottom = debouncer(function() {
  if(getDocHeight() == getScrollXY()[1] + window.innerHeight) {
       

           document.getElementById("div3").style.visibility = "hidden";
			document.getElementById("div1").style.visibility = "visible";

    } else {
      footerEl.className = '';
    }
},500);

document.addEventListener('scroll',CheckIfScrollBottom);

function debouncer(a,b,c){var d;return function(){var e=this,f=arguments,g=function(){d=null,c||a.apply(e,f)},h=c&&!d;clearTimeout(d),d=setTimeout(g,b),h&&a.apply(e,f)}}
function getScrollXY(){var a=0,b=0;return"number"==typeof window.pageYOffset?(b=window.pageYOffset,a=window.pageXOffset):document.body&&(document.body.scrollLeft||document.body.scrollTop)?(b=document.body.scrollTop,a=document.body.scrollLeft):document.documentElement&&(document.documentElement.scrollLeft||document.documentElement.scrollTop)&&(b=document.documentElement.scrollTop,a=document.documentElement.scrollLeft),[a,b]}
function getDocHeight(){var a=document;return Math.max(a.body.scrollHeight,a.documentElement.scrollHeight,a.body.offsetHeight,a.documentElement.offsetHeight,a.body.clientHeight,a.documentElement.clientHeight)}



</script>

</body>

</html>